<div class="grid-container">
  <mat-grid-list cols="1" rows="3" rowHeight="3:1">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Payment Types
          </mat-card-title>
        </mat-card-header>
        <app-payment-type-data-table></app-payment-type-data-table>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Expense Types
          </mat-card-title>
        </mat-card-header>
        <app-expense-type-data-table></app-expense-type-data-table>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Vendors
          </mat-card-title>
        </mat-card-header>
        <app-vendor-data-table></app-vendor-data-table>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
